h1 {
  color: #F38D68;
  text-align: center;
  height: 40px;
  background-image: url("images/calculating-numbers-design.jpg")
}

h2 {
  color: #17A398;
  text-align: left;
}

h3 {
  margin-top: 50px;
}

li {
  color: #662C91;
}

hr {
  border: dashed 2px;  
}



/* Header container */

header div {
  margin: 65px;
}

header > div > img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

header > div > p > a {
  font-family: Times, serif;
  font-size: 16px;
}


/* main container */

main div {
  margin: 65px 65px 400px 65px;
}


/* footer */

footer div {
margin: 30px;
}

footer div a > img {
  height: 65px;
  width: 75px;
  border-radius: 50%;
  padding: 34px 24px;
}


/* paragraphs classes */

.p-centered {
  text-align: center;
}

.p {
  font-size: 16px;
  font-family: Georgia, serif;
  color: #33312E;
}


/* contact link */



a:link    { color: blue;  }
a:visited { color: #EE6C4D;   }
a:hover   { color: #17A398; }
a:active  { color: pink;  }


